.cotainer{
  margin-top: 50px;
  width:25%!important;
}


form {

  width: 30%;
  background: #2FCC9A;
  border: 2px solid #228e6c;
  border-radius: 10px;
  padding: 20px 10px;
}

#task {
  width: 70%;
  float: left;
  margin-right: 5%;
}


ul {
  width: 100%;
  padding: 0 10px!important;
}

ul li{
  list-style: none;
  padding: 15px;
  margin-bottom: 10px;
  background: #fcfcfc;
  border: 1px solid silver;
  border-radius: 5px;
}

ul li:hover{
  background: #e5e5e5;
}

ul li button{
  border: 0;
  padding: 5px 15px;
  color: white;
  font-size: 13px;
  background: #db5757;
  position: right;
  left:130px;
  border-radius: 5px;
  float:right;

}

ul li button:hover{
  background: #a04141;
}


.disabled__container {
padding-top: 0;
border-top: 1px solid black;
border-radius: 1px solid black;
border-bottom: 1px solid black;
    display: flex;
    width: 100%;
    height: 100%;
    max-width: 1500px;
    margin: 0 auto 40px ;
     margin-top: 0px;

}


.disabled__col--first {
    width: 30%;
    background-color: #dff0f0;
   }

.disabled__col--second {
    width: 33%;
	background-color: #96faee;
  opacity:0.9;

}

.disabled__col--third {
    width: 36%;
	background-color: white;
  background: transparent;
  display: flex;
 justify-content: center;
 align-items: center;
}



/* Header */
.header {
    width: 100%;
    padding-top: 30px;


    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: white;
}

.header__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.header__logo {
    font-size: 30px;
    font-weight: 700;
    color: black;
}

.nav {
    font-size: 14px;
    text-transform: uppercase;
    color: black;
}

.nav__link {
    display: inline-block;
    vertical-align: top;
    margin: 0 15px;
    position: relative;


    color: black;
    text-decoration: none;

    transition: color .1s linear;
}

.nav__link:after {
    content: "";

    width: 100%;
    height: 3px;
    display: none;

    background-color: #96faee;

    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
}

.nav__link:hover{
    color: #96faee;
}

.nav__link:hover:after {
   display: block;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto ;
}

.empty {
    width: 100%;
    height: 10vh;
    background-color: white;
       -webkit-background-size: cover;
    background-size: cover;
}


.button {
  border: none;
  color: black;
  padding: 10px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.btn{
background-color: red;
color: black;
border: 2px solid #4CAF50;
}



/* CSS */
.button-23 {
  background-color: #FFFFFF;
  border: 1px solid #222222;
  border-radius: 8px;
  box-sizing: border-box;
  color: #222222;
  cursor: pointer;
  display: inline-block;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  margin: 0;
  outline: none;
  padding: 13px 23px;
  position: relative;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  transition: box-shadow .2s,-ms-transform .1s,-webkit-transform .1s,transform .1s;
  user-select: none;
  -webkit-user-select: none;
  width: auto;
}

.button-23:focus-visible {
  box-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
  transition: box-shadow .2s;
}

.button-23:active {
  background-color: #F7F7F7;
  border-color: #000000;
  transform: scale(.96);
}

.button-23:disabled {
  border-color: #DDDDDD;
  color: #DDDDDD;
  cursor: not-allowed;
  opacity: 1;
}
